.wrapper {
  background: var(--white-liliac);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 112px;
  margin-bottom: 44px;
  border-radius: 10px;
}

.itemWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
